//Created by devios on 13/01/17.
doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style-dashboard.css')
        script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
        script(src='http://ficha.testhd.net/js/jquery.nicescroll.js')
        script(src='http://s.codepen.io/assets/libs/modernizr.js')
        script(src='/javascripts/dashboard.js')
    body
        block content
            #loader-wrapper
                #loader
                .loader-section.section-left
                .loader-section.section-right


