extends layout

block content

  head
    title= title
  body
    .wrapper
      .container
        img.logo(src='/images/logoApp.jpg')
        //img.logo(src='http://www.pacificmall.com.co/wp-content/uploads/logo-cinemark.png')
        h1 Login
        form.form(method='POST')
          input(type='text', name='name', placeholder='Username')

          input(type='password', name='encrypted_password',  placeholder='Password')

          button(type='submit') Login
        //- each message in flash
        //        h4(style="color: red;") #{message}
      ul.bg-bubbles
        li
        li
        li
        li
        li
        li
        li
        li
        li
        li
        li
        li
        li